.event__text {
    @include emptyBookmark();
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    grid-gap: 30px;
    justify-self: center;
}
.grid__events{
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
}

.tikets__price {
    &-text{
        color: $white;
        font-size: 14px;
        font-weight: 600;
        line-height: 15px;
    }
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
}

.events__card{
    max-width: 160px;
    width: 100%;
    &-image{
        margin-bottom: 10px;
        position: relative;
    }
}
.events{
    &__content{
        pointer-events: none;
        position: absolute;
        padding: 10px;
        bottom: 0;
        z-index: 3;
        right: 0;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start !important;
        &-link{
            position: relative;
            display: flex;
            flex-direction: column;
            & p {
                margin: 0; /* Убираем внешний отступ */
                -webkit-line-clamp: 2; /* Число отображаемых строк */
                display: -webkit-box; /* Включаем флексбоксы */
                -webkit-box-orient: vertical; /* Вертикальная ориентация */
                overflow: hidden;
            }
        }
        &-top{
            width: 100%;
            justify-content: space-between;
        }
        &-text{
            color: $black;
            overflow-wrap: break-word;
            align-self: center;
        }
    }
    &__users span{
        color: $white;
    }
}