.all {
    &__header {
        @include headerText();
    }
}
.person {
    display: flex;
    flex-direction: column;
    &__header {
        @include headerText();
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 160px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &:not(:last-child) {
            margin: 0 30px 37px 0;
        }
    }
    &__img {
        margin-bottom: 10px;
        max-width: 160px;
        width: 100%;
        position: relative;
    }
    &__text {
        overflow-wrap: break-word;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: $black;
    }
    &__param {
        display: flex;
    }
    &__online {
        position: absolute;
        width: 12px;
        height: 12px;
        margin-top: 131px;
        margin-left: 131px;
        background-color: $green;
        border-radius: 50%;
        border: 2px solid $white;
    }
}